@model Starship

@{
    ViewBag.Title = "Details";
    var imageUrl = Model.ImageURL;
    var imageSource = imageUrl.Contains("placeholder") ? $"{imageUrl}/300" : imageUrl;
}

<div class="container mt-4">
    <h1 class="mb-4 text-primary">Starship Details</h1>

    <div class="row">
        <!-- Starship Image -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="@imageSource" class="card-img-top" alt="Starship Image">
                <div class="card-body bg-light">
                    <h5 class="card-title text-info text-center">@Model.Name</h5>
                </div>
            </div>
        </div>

        <!-- Starship Details -->
        <div class="col-md-8">
             <div class="card border-light mb-4 shadow-sm">
                <div class="card-body">
                    <p class="card-text"><strong>Model:</strong> @Model.Model</p>
                    <p class="card-text"><strong>Manufacturer:</strong> @Model.Manufacturer</p>
                    <p class="card-text"><strong>Cost:</strong> @Model.CostInCredits</p>
                    <p class="card-text"><strong>Length:</strong> @Model.Length</p>
                    <p class="card-text"><strong>Speed:</strong> @Model.MaxAtmospheringSpeed</p>
                    <p class="card-text"><strong>Crew:</strong> @Model.Crew</p>
                    <p class="card-text"><strong>Passengers:</strong> @Model.Passengers</p>
                    <p class="card-text"><strong>Cargo Capacity:</strong> @Model.CargoCapacity</p>
                    <p class="card-text"><strong>Consumables:</strong> @Model.Consumables</p>
                    <p class="card-text"><strong>Hyperdrive Rating:</strong> @Model.HyperdriveRating</p>
                    <p class="card-text"><strong>MGLT:</strong> @Model.MGLT</p>
                    <p class="card-text"><strong>Starship Class:</strong> @Model.StarshipClass</p>
                </div>
            </div>

            <div class="mt-4 d-flex justify-content-start">
                <a href="@Url.Action("CreateEdit", new { id = Model.StarshipId })" class="btn btn-outline-warning btn-sm me-2">Modify</a>
                <a href="@Url.Action("Index")" class="btn btn-outline-secondary">Back</a>
            </div>
        </div>
    </div>
</div>

